.subject-page {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  width: 92vw;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logo {
  width: 55px;
  height: auto;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.back-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}

.back-btn {
  font-size: 22px;
  padding: 6px 14px;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.back-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.subtitle {
  margin: 15px 0 25px;
  font-size: 18px;
  font-weight: 500;
}


.subjects {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  max-width: 280px;
}

.subject-btn {
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;


  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.4),
              0 8px 12px rgba(0, 0, 0, 0.3);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.subject-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4),
              0 10px 16px rgba(0, 0, 0, 0.35);
}

.subject-btn:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4),
              0 6px 10px rgba(0, 0, 0, 0.25);
}


.english { background: linear-gradient(45deg, #4facfe, #00f2fe); }
.math { background: linear-gradient(45deg, #f6d365, #fda085); }
